$white: #ffffff;
$black: #000000;
$background: #161616;
$gray: #808080;

$light-f0: #f0f0f0;
$light-f1: #f1f1f1;
$light-f2: #f2f2f2;
$light-f3: #f3f3f3;
$light-f4: #f4f4f4;
$light-f5: #f5f5f5;
$light-f6: #f6f6f6;
$light-f7: #f7f7f7;
$light-f8: #f8f8f8;
$light-f9: #f9f9f9;
$light-fa: #fafafa;

$neutral-1a: #1a1a1a;
$neutral-2a: #2a2a2a;
$neutral-3a: #3a3a3a;
$neutral-4a: #4a4a4a;
$neutral-5a: #5a5a5a;
$neutral-6a: #6a6a6a;
$neutral-7a: #7a7a7a;
$neutral-8a: #8a8a8a;
$neutral-9a: #9a9a9a;
$neutral-aa: #aaa;
$neutral-bb: #bbb;
$neutral-cc: #ccc;
$neutral-dd: #ddd;
$neutral-ee: #eee;

$neutral-100: #111;
$neutral-200: #222;
$neutral-300: #333;
$neutral-400: #444;
$neutral-500: #555;
$neutral-600: #666;
$neutral-600: #666;
$neutral-700: #777;
$neutral-800: #888;
$neutral-900: #999;

$secondary: #232323;

$font-dmsans: "DMSans", sans-serif;
$font-roobert: "Roobert", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-custom: cubic-bezier(0.33, 0, 0.67, 1);
$ease-menu: cubic-bezier(0.63, 0, 0.4, 0.99);
$ease-hero-marquee: cubic-bezier(0.24, 0.6, 0.25, 1);

$z-indexes: ("preloader", "modal", "overlay", "nav", "canvas", "content");
